{% import "macros/tabler.html" as tabler %}


{% macro tabler_field(field) %}
    {% set macro_name = 'tabler_field_' + field.type %}
    {% if tabler[macro_name] %}
        {{ tabler[macro_name](field) }}
    {% else %}
        {{ field.type }}
    {% endif %}
{% endmacro %}

{% macro tabler_form(form) %}
    <form method="post">
        {{ form.csrf_token }}
        {% for field in form %}
            {{ tabler_field(field) }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endmacro %}

{% macro render_field(field) %}
    {{ field.label }}

    {% if field.flags.required and kwargs.get('required') == None %}
        {% do kwargs.update({'required': 'required'}) %}
    {% endif %}

    {{ field(**kwargs) }}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="field_error">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_form(form) %}
    {{ form.csrf_token }}

    {% for field in form %}
        {{ tabler_field(field) }}
    {% endfor %}
{% endmacro %}

