argon2_cffi
bleach
empty
eventlet
flask
flask_static_compress
flask-admin
flask-debugtoolbar
flask-login
flask-mongoengine-3[wtf,toolbar]
flask-security-too
flask-socketio
flask-testing
flask-wtf
pytest
wheel
git+https://github.com/iosusan/flask-nav.git