{% extends 'base.html' %}
{% from "macros/_formhelpers.html" import render_field_with_errors, render_field, render_field_errors,
render_form_errors,
prop_next %}

{% block content %}
<div class="container-xl">
    <div class="row row-cards justify-content-center">
        <div class="col-6">
            <h1>Create Laser Material</h1>

            <form action="{{url_for('material.create')}}" method="POST" class="card">

                {% for field in form %}
                {{ render_field(field) }}
                {% endfor %}

                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
{% endblock %}