{% extends 'base.html.j2' %}

{% block page_header %}
{{super()}}
<div class="container-xl">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
                {{ title}}
            </h2>
        </div>
        <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
        {% if current_user.has_permission(edit_permission) or current_user.has_permission("admin") %}
            <a href="{{create_endpoint_url}}" class="btn btn-primary d-none d-sm-inline-block">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                </svg>
                {{ create_button_text }}
            </a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="row">
    {% for material in materials %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ material.name }}</h5>
                <p class="card-text">{{ material.description}} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}